<!-- Home Page Content -->
<div class="container text-center mb-5 border-bottom border-dark">
    <h1>Welcome to my Website built with Express!</h1>
    <h6>Use the navigation bar to explore! Visit my <a href="/about">about page</a> and feel free to <a href="/contact">contact me!</a></h6>
</div>
<div class="container text-center">
    <h3>Mission Statement</h3>
    <p>My goal is to always create quality software using quality code.</p>
</div>