<div class="container">
    <h1 class="border-bottom border-dark text-center">My Projects</h1>
    <!-- Project 1 Row -->
    <div class="row">
        <div class="col align-self-center">
            <img class="img-fluid" src="#" alt="Project 1 Picture">
        </div>
        <div class="col align-self-center">
            <h3 class="text-center border-bottom border-dark">Discord Bot with discord.js</h3>
            <p>I built a discord bot for use on me and my friends personal servers! It can play youtube video audio into a voice channel, as well as use Google's Text-To-Speech api to enter the user's voice channel and speak the given text!</p>
        </div>
    </div>
    <!-- Project 2 Row -->
    <div class="row">
        <div class="col align-self-center">
            <img class="img-fluid" src="#" alt="Project 2 Picture">
        </div>
        <div class="col align-self-center">
            <h3 class="text-center border-bottom border-dark">Platforming Game</h3>
            <p>I made a basic platformer with Unity.</p>
        </div>
    </div>
    <!-- Project 3 Row -->
    <div class="row">
        <div class="col align-self-center">
            <img class="img-fluid" src="#" alt="Project 3 Picture">
        </div>
        <div class="col align-self-center">
            <h3 class="text-center border-bottom border-dark">Top-Down Game</h3>
            <p>I've also created a basic top-down style game with Unity.</p>
        </div>
    </div>
</div>