<div class="container">
    <h1 class="border-bottom border-dark text-center">Services</h1>
    <!-- Project 1 Row -->
    <div class="row">
        <div class="col align-self-center">
            <img class="img-fluid m-1 border border-light rounded-circle border-5" src="/images/unity.webp" alt="Unity">
        </div>
        <div class="col align-self-center">
            <h3 class="text-center border-bottom border-dark">Game Dev</h3>
            <p>I've worked on a few personal game dev projects using Unity, so I know a thing or two!</p>
        </div>
    </div>
    <!-- Project 2 Row -->
    <div class="row">
        <div class="col align-self-center">
            <h3 class="text-center border-bottom border-dark">Web Dev</h3>
            <p>I enjoy creating and designing awesome websites!</p>
        </div>
        <div class="col align-self-center">
            <img class="img-fluid m-1 border border-light rounded-circle border-5" src="/images/web-dev.jpg" alt="Picture of code">
        </div>
    </div>
    <!-- Project 3 Row -->
    <div class="row">
        <div class="col align-self-center">
            <img class="img-fluid m-1" src="/images/cs-logo.svg" alt="C# Logo">
        </div>
        <div class="col align-self-center">
            <h3 class="text-center border-bottom border-dark">C# Development</h3>
            <p>In my time using Unity, my language of choice was C#!</p>
        </div>
    </div>
</div>