<div class="container">
    <h1 class="border-bottom border-dark text-center">About Me</h1>
    <div class="row">
        <div class="col">
            <img class="img-fluid m-1 border border-light rounded-circle border-5" src="images/selfie.jpg" alt="Picture of myself">
        </div>
        <div class="col align-self-center">
            <h6><u>Name:</u> Joshua Harding</h6>
            <h6><u>Prefered:</u> Josh</h6>
            <p>Hello there! My name is Josh and I enjoy spending my time creating different kinds of projects with lots of different languagues. I currently feel proficient in HMTL/CSS/Javascript, NodeJS, C#, C, Java, and bash. I've built my own PC, and I love to experiment with different projects accross many different languages.</p>
            <span><a href="/images/resume.pdf">View</a> or <a href="/download">download</a> my resume!</span>
        </div>
    </div>
</div>